.wrapper1 {
    width: 1920px;
    border: 5px solid black;
    margin: 0 auto;
    position: relative;
}
.section11 {
    width: 1920px;
height: 984px;
border: 2px solid red;
display: flex;
flex-direction: column;
align-items: center;
}
.section11-in h1 {
    color: rgb(27, 49, 95);
font-family: Montserrat;
font-size: 44px;
font-weight: 800;
line-height: 56px;
letter-spacing: 0%;
text-align: left;
}
.section11-in {
    width: 1178px;
    height: 928px;
    border: 2px solid green;
}
.section11-in p {
    color: rgb(63, 87, 139);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.section11-in h3 {
    color: rgb(27, 49, 95);
font-family: Montserrat;
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.section11-in  ul {
    list-style-type: disc;
  
}
.section11-in  ul li {
    color: rgb(63, 87, 139);
font-family: Montserrat;
font-size: 18px;
font-weight: 500;
line-height: 2;
letter-spacing: 0%;
text-align: left;
}

.section11-in  ul li::marker {
    color: rgb(30, 187, 146); 
}
/* -------------section12 */

.section12 {
    width: 1920px;
height: 764px;
border: 6px solid black;
display: flex;
flex-direction: column;
/* justify-content: center; */
align-items: center;
position: relative;
}
.section12 h1 {
    color: rgb(27, 49, 95);
font-family: Montserrat;
font-size: 44px;
font-weight: 800;
line-height: 56px;
letter-spacing: 0%;
text-align: left;
}
.section12 h3 {
    color: rgb(27, 49, 95);
font-family: Montserrat;
font-size: 22px;
font-weight: 800;
line-height: 32px;
letter-spacing: 0%;
text-align: left;
}
.section12-mid {
    width: 1178px;
    height: 256px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.section12-mid img {
    width: 16px;
height: 9px;
}
.one {
    display: flex;
    justify-content: space-between;
    width: 1178px;
height: 64px;
border: 2px solid black;
align-items: center;
border-radius: 4px;
background: rgb(241, 245, 255);
}
.two {
    display: flex;
    justify-content: space-between;
    width: 1178px;
height: 64px;
border: 2px solid black;
align-items: center;
border-radius: 4px;
background: rgb(241, 245, 255);
}
.three {
    display: flex;
    justify-content: space-between;
    width: 1178px;
height: 64px;
border: 2px solid black;
align-items: center;
border-radius: 4px;
background: rgb(241, 245, 255);
}
.four {
    display: flex;
    justify-content: space-between;
    width: 1178px;
height: 64px;
border: 2px solid black;
align-items: center;
border-radius: 4px;
background: rgb(241, 245, 255);
}
.section12-bot {
    width: 1178px;
height: 316px;
border: 2px solid red;
position: absolute;
border-radius: 4px;
background: rgb(241, 245, 255);
bottom: 10px;
}
.section12-bot p {
    color: rgb(63, 87, 139);
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
.section13 {
    width: 1920px;
height: 597px;
border: 3px solid red;
flex-direction: column;
display: flex;
justify-content: center;
align-items: center;
position: relative;
}
.section13 h1 {
    color: rgb(27, 49, 95);
font-family: Montserrat;
font-size: 44px;
font-weight: 800;
line-height: 56px;
letter-spacing: 0%;
text-align: left;
top: 0;
position: absolute;
left: 87px;
}
.section13-in {
    width: 1486px;
height: 317px;
border: 2px solid black;
}
.chapter1 {
    width: 719.5px;
height: 317px;
border: 2px solid black;
}
.chapter2 {
    width: 719.5px;
height: 317px;
border: 2px solid black;
}
